# Escludere l'ambiente virtuale Python
venv/
env311/
__pycache__/
*.pyc
*.pyo

# Escludere file di Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform.lock.hcl
backend/bq_credentials.json
backend/firestore_credentials.json
.env